:root{
  font-family: "Alice", serif;

  color: var(--text-color-primary);
  --background-color: #573824;
  --surface-color: #F0E8C2;
  --text-color-primary:#291B1A;
  --text-color-secondary:#573A37;
  --text-color-on-bg:#F0E8C2 ;
}

*{
  padding: 0;
  margin: 0;
}

body{
  

  background-image: url('../assets/bg-image.png');
  background-color: var(--background-color);
  background-size: cover;
  background-repeat: no-repeat;
 
}


#page{
width: 50rem;
box-sizing: border-box;
padding: 1.5rem;
background-color: var(--surface-color);
border-radius: 24px;
margin: 3rem auto;
}

main{
  padding: 1.5rem;
}
#about p + p{
margin-top: 0.75rem;
}

h1{
line-height: 140%;
font-size: 2.5rem;

}

h2{
  font-size: 1.5rem;
}

h1, h2{
  color: var(--text-color-primary) ;
  margin-bottom: 0.25rem;
  line-height: 150%;
}

#ingredients{
  margin-top: 1.5rem;
}

#ingredients ul{
  padding-left: 1.625rem;
}

footer{
  text-align: center;
  color: var(--text-color-on-bg);
  padding-bottom: 3rem;
  padding-top: 1.25rem;
  font-size: 26px;
}

footer .coracao{
  vertical-align: middle;
}