* {
    padding: 0;
    box-sizing: border-box;

}


.grid {
    display: grid;
    height: 50vh;
    width: 100vw;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

    gap: 8px;

    background-color: black;

    /* align-content: baseline; */
    /* align-content: center; */
    /* align-content: space-around; */
    /* align-content: space-between; */
    /* align-content: space-evenly; */
    align-content: end;

}



.grid > div{
    background-color: cornflowerblue;
    
}