#fetured{
    img{
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    .card{
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            inset:0;

            background: linear-gradient(
                180deg,
                transparent 50%,
                #020617 100%
            );
        }
    }
}