.avatar {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
}

header {
    padding: 2rem;
}

header .container {
    display: flex;
    justify-content: space-between;
}

#profile {
    display: flex;
    gap: 2rem;
}

#profile>div {
    max-width: 24rem;
}

#profile h1 {
    font: var(--text-lg);
}

#profile p {
    font: var(--text-md);
}

#info{
    display: flex;
    justify-content: center;
    align-items: center;
}
#info ul {
    list-style: none;
    font: var(--text-md);
    display: flex;
    flex-direction: column;
    gap: .5rem;


}

#info ul li {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: .5rem;
}